<launch>
  <arg name="config_file" default="$(find ndt_slam)/config/slam_params.yaml"/>
  <arg name="use_sim_time" default="true"/>

  <param name="use_sim_time" value="$(arg use_sim_time)"/>

  <!-- 静态TF: rslidar -> base_link (雷达到机器人本体的外参) -->
  <node pkg="tf" type="static_transform_publisher" name="rslidar_to_base_link"
        args="0 0 0 0 0 0 rslidar base_link 100"/>

  <node name="ndt_slam_node" pkg="ndt_slam" type="ndt_slam_node" output="screen" args="$(arg config_file)">
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
    <param name="$(anon ndt_slam_node)/log_level" value="debug"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ndt_slam)/launch/rviz.rviz" output="screen"/>
</launch>
